* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-green {
    background-color: rgb(75, 198, 165);
}

.text-green {
    color: rgb(75, 198, 165);
}

.bg-blue {
    background-color: rgb(62, 125, 201);
}

.bg-dark-blue {
    background-color: rgb(46, 95, 155);
}

.line {
    width: 70px;
    min-height: 5px;
    max-height: 5px;
}

.circle {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.circle > * {
    margin-left: 0px!important;
}